* { margin: 0; padding: 0;}
html{font-size: 62.5% !important;}
li {list-style: none;}
body{background: #ebe7df ;}

.mair{width: 800px;;margin: 0 auto;}
.mair>div {width: 100%}
.mair div>div{height: 30px;border: 1px solid #aaa;width: 98%;border-radius: 5px;text-indent: 0.5rem;line-height: 30px;}
.mair li label{line-height:30px;margin-top: 5px;margin-right: 5%;padding: 5px;border-radius: 6px;}
.mair li span{display: block;width: 100%;line-height: 30px;}
.mair li{border-bottom: 1px dashed #aaa;max-height:90px;padding: 5px 0;font-size: 1.5rem !important;}
.but{width: 90px;height: 30px;margin: 15px auto;}
p span{color: red;}
@media screen and (max-width: 760px){
.mair{width: 90%;;margin:0 5%;}
.but{display: block;}
}